<!--begin::Header-->
<nav class="app-header navbar navbar-expand" style="background-color: #287ca9;"> <!--begin::Container-->
    <div class="container-fluid"> <!--begin::Start Navbar Links-->
        <ul class="navbar-nav">
            <li class="nav-item d-none d-md-block"> <a [routerLink]="['/aluno/modulos']" class="nav-link text-white">Modulos</a> </li>
            <li class="nav-item d-none d-md-block"> <a [routerLink]="['/aluno/modulos/participantes']" class="nav-link text-white">Participantes</a> </li>
            <li class="nav-item d-none d-md-block"> <a [routerLink]="['/aluno/modulos/notas']" class="nav-link text-white">Notas</a> </li>
            <li class="nav-item dropdown d-none d-md-block">
                <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownMenuMais" 
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mais
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuMais">
                    <li>
                        <a class="dropdown-item" href="#">
                            Cancelar a minha inscrição neste curso
                        </a>
                    </li>
                </ul>
            </li>
        </ul> <!--end::Start Navbar Links--> <!--begin::End Navbar Links-->
    </div> <!--end::Container-->
</nav>
<!--end::Header-->
