<div class="content-wrapper" >
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">


          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Cadastro de Quizz</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <form>
              <div class="card-body">

                <!-- <div class="form-group">
                  <label for="editor">Descrição da Pergunta:</label>
                  <ckeditor [editor]="Editor" [(ngModel)]="descricaoCurso"></ckeditor>
                </div> -->





              <div class="card-footer">
                <button type="button" class="btn btn-danger"  >Cancelar</button>
                <button type="submit" class="btn btn-success" style="margin-left: 15px;">Salvar</button>
              </div>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
