<!--begin::App Main-->
<div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->

    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Painel</h3>
      </div>

    </div> <!--end::Row-->
  </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
  <!-- Main content -->

  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box">
            <span class="info-box-icon bg-info"><i class="fas fa-clipboard-list"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Total de Matriculas</span>
              <span class="info-box-number">7</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-success">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Cursos Finalizados</span>

              <div class="progress">
                <div class="progress-bar" style="width: 40%"></div>
              </div>
              <span class="progress-description">
                40% Completo
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-user"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Perfil do Aluno</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Completo
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

      </div>
      <!-- /.row -->



    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

