<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2"></div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Detalhes do Perfil</h3>
            </div>

            <form #form="ngForm" (ngSubmit)="salvarProfessor(form)">
              <div class="card-body">
                <!-- Mensagens -->
                <div *ngIf="mensagemSucesso" class="alert alert-success">{{ mensagemSucesso }}</div>
                <div *ngIf="mensagemErro" class="alert alert-danger">{{ mensagemErro }}</div>

                <!-- Nome do Professor -->
                <div class="form-group mb-3">
                  <label for="nomeProfessor">Nome</label>
                  <input type="text" class="form-control" [(ngModel)]="professor.nome" name="nomeProfessor" required #nome="ngModel" />
                  <div *ngIf="nome.invalid && nome.touched" class="text-danger">O nome é obrigatório</div>
                </div>

                <!-- Sobrenome -->
                <div class="form-group mb-3">
                  <label for="sobrenomeProfessor">Sobrenome</label>
                  <input type="text" class="form-control" [(ngModel)]="professor.sobrenome" name="sobrenomeProfessor" />
                </div>

                <!-- cnpjOuCpf -->
                <div class="form-group mb-3">
                  <label for="cpfOuCnpj">CPF</label>
                  <input type="text" class="form-control" [(ngModel)]="professor.cpfOuCnpj" name="cpfOuCnpj" />
                </div>

                <!-- Email -->
                <div class="form-group mb-3">
                  <label for="emailProfessor">Email</label>
                  <input type="email" class="form-control" [(ngModel)]="professor.email" name="emailProfessor" required #email="ngModel" />
                  <div *ngIf="email.invalid && email.touched" class="text-danger">O email é obrigatório</div>
                </div>

                <!-- Telefone -->
                 <div class="form-group mb-3">
                  <label for="telefoneProfessor">Telefone</label>
                  <input type="text" class="form-control" [(ngModel)]="professor.telefones" name="telefoneProfessor" />
                </div>

                <!-- Cidade/Município -->
              <div class="form-group mb-3">
                <label for="cidade">Cidade/Município</label>
                <input type="text" class="form-control"  name="cidade" required />
              </div>

              <!-- Imagem do Usuário -->
              <div class="form-group mb-3">
                <label for="imagem">Imagem  do Usuário</label>
                <input type="file" class="form-control"  name="imagem" />
              </div>

              <!-- Exibição da Imagem Selecionada -->
              <div class="mb-3">
                <label for="imagem">Imagem Selecionada:</label>
                <div class="image-container">
                  <img src="/user2-160x160.jpg" alt="Imagem do Usuário" class="img-fluid rounded-circle" />

                    <!-- QUANDO CARREGAR DO BACK, USAR ESSA LOGICA ABAIXO -->
                  <!-- <img *ngIf="imagemPreview"  src="/user2-160x160.jpg" alt="Imagem do Usuário" class="img-fluid rounded-circle" />
                  <div *ngIf="!imagemPreview" class="no-image-text">Nenhuma imagem selecionada</div> -->
                </div>
              </div>



              </div>

              <!-- Botões -->
              <div class="card-footer">
                <button type="button" class="btn btn-danger" [routerLink]="['/professor/perfil-professor']">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
                  Salvar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
