<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Cadastro de Curso > Módulo</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
              <div class="card-body">
                <!-- Título do Módulo -->
                <div class="form-group mb-3">
                  <label for="tituloModulo">Título do Módulo</label>
                  <input type="text" class="form-control" id="tituloModulo" placeholder="Digite o título do módulo" required />
                </div>

                <!-- Descrição do Módulo -->
                <div class="form-group mb-3">
                  <label for="descricaoModulo">Descrição</label>
                  <input type="text" class="form-control" id="descricaoModulo" placeholder="Digite a descrição do módulo" />
                </div>

                <!-- Ordem do Módulo -->
                <div class="form-group mb-3">
                  <label for="ordemModulo">Ordem do Módulo</label>
                  <input type="number" class="form-control" id="ordemModulo" placeholder="Digite a ordem do módulo" />
                </div>

              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="button" class="btn btn-secondary" [routerLink]="'/admin/cadastro-curso'">Voltar</button>
                <button type="submit" class="btn btn-primary" style="margin-left: 15px;" [routerLink]="'/admin/cadastro-aula'">Avançar</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
