<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2"></div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Cadastro de Módulo</h3>
            </div>

            <form #form="ngForm" (ngSubmit)="salvarModulo(form)">
              <div class="card-body">
                <div *ngIf="mensagemSucesso" class="alert alert-success">{{ mensagemSucesso }}</div>
                <div *ngIf="mensagemErro" class="alert alert-danger">{{ mensagemErro }}</div>

                <div class="form-group mb-3">
                  <label for="tituloModulo">Título do Módulo</label>
                  <input type="text" class="form-control" [(ngModel)]="modulo.tituloModulo" name="tituloModulo" required #titulo="ngModel" />
                  <div *ngIf="titulo.invalid && titulo.touched" class="text-danger">O título é obrigatório</div>
                </div>

                <div class="form-group mb-3">
                  <label for="descricaoModulo">Descrição</label>
                  <input type="text" class="form-control" [(ngModel)]="modulo.descricao" name="descricaoModulo" />
                </div>

                <div class="form-group mb-3">
                  <label for="ordemModulo">Ordem do Módulo</label>
                  <input type="number" class="form-control" [(ngModel)]="modulo.ordemModulo" name="ordemModulo" />
                </div>

                <div class="form-group mb-3">
                  <label for="curso">Curso Relacionado</label>
                  <select class="form-control" [(ngModel)]="modulo.uuidCurso" name="curso" required #curso="ngModel">
                    <option value="" disabled selected>Selecione um curso</option>
                    <option *ngFor="let curso of cursos" [ngValue]="curso.uuid">{{ curso.nome }}</option>
                  </select>
                  <div *ngIf="curso.invalid && curso.touched" class="text-danger">O curso é obrigatório</div>
                </div>

                <!-- Anexo de Imagem -->
                <div class="form-group mb-3">
                  <label for="videoAula">Anexo de Imagem</label>
                  <input type="file" class="form-control" id="videoAula" accept="video/*" />
                </div>

              </div>

              <div class="card-footer">
                <button type="button" class="btn btn-danger" [routerLink]="['/admin/modulos']">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="form.invalid" style="margin-left: 15px;">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
