<!-- Botão para cadastrar novo aluno -->
<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <button (click)="redirecionarCadastroAluno()" type="button" class="btn btn-primary btn-flat btn-pri">
          <i class="fa fa-plus" aria-hidden="true"></i> Novo Aluno
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Tabela de alunos -->
<div class="app-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Alunos</h3>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome do Aluno</th>
              <th>CPF</th>
              <th class="text-center">Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aluno of alunos; let i = index">
              <td>{{ (paginaAtual * tamanhoPagina) + i + 1 }}</td>
              <td>{{ aluno.nome + " " + aluno.sobrenome }}</td>
              <td>{{ aluno.cpfOuCnpj }}</td>
              <td class="project-state text-center"> <!-- Alinhado ao centro -->
                <span class="badge"
                      [ngClass]="{
                        'badge-success': aluno.statusUsuario,
                        'badge-danger': !aluno.statusUsuario,
                        'text-black': !aluno.statusUsuario
                      }">
                  {{ aluno.statusUsuario ? 'Ativo' : 'Inativo' }}
                </span>
              </td>
              <td class="project-actions text-right">
                <button class="btn btn-info btn-sm" (click)="editarAluno(aluno)">
                  <i class="fas fa-pencil-alt"></i> Editar
                </button>
                <button class="btn btn-danger btn-sm"  (click)="excluirAluno(aluno.cpfOuCnpj)">
                  <i class="fas fa-trash"></i> Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Paginação -->
    <div class="pagination" style="display: flex; justify-content: center; margin-top: 20px;">
      <button *ngFor="let page of [].constructor(totalPaginas); let i = index"
              class="btn btn-light"
              [class.active]="paginaAtual === i"
              (click)="mudarPagina(i)">
        {{ i + 1 }}
      </button>
    </div>
  </div>
</div>
