<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2"></div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Editar Curso</h3>
            </div>
            <!-- /.card-header -->

            <!-- form start -->
            <form #form="ngForm" (ngSubmit)="editarCurso(form)">
              <div class="card-body">
                <!-- Mensagens -->
                <div *ngIf="mensagemSucesso" class="alert alert-success">{{ mensagemSucesso }}</div>
                <div *ngIf="mensagemErro" class="alert alert-danger">{{ mensagemErro }}</div>

                <!-- Nome do Curso -->
                <div class="form-group mb-3">
                  <label for="nomeCurso">Nome do Curso</label>
                  <input type="text" class="form-control" [(ngModel)]="curso.nome" name="nomeCurso" required #nome="ngModel" />
                  <div *ngIf="nome.invalid && nome.touched" class="text-danger">O nome é obrigatório</div>
                </div>

                <!-- Descrição -->
                <div class="form-group mb-3">
                  <label for="descricaoCurso">Descrição</label>
                  <textarea class="form-control" rows="3"  [(ngModel)]="curso.descricao" name="descricaoCurso"  placeholder="Digite seu texto aqui ..."></textarea>
                </div>

                <!-- Curso Ativo -->
                <div class="form-group mb-3">
                  <label for="cursoAtivo">Curso Ativo</label>
                  <select class="form-control" [(ngModel)]="curso.ativo" name="cursoAtivo">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                  </select>
                </div>

                <!-- URL do Banner -->
                <div class="form-group mb-3">
                  <label for="urlBanner">URL do Banner</label>
                  <input type="text" class="form-control" [(ngModel)]="curso.urlBanner" name="urlBanner" />
                </div>

                <!-- Carga Horária -->
                <div class="form-group mb-3">
                  <label for="cargaHoraria">Carga Horária</label>
                  <input type="number" class="form-control" [(ngModel)]="curso.cargaHoraria" name="cargaHoraria" />
                </div>

                <!-- Módulos -->
                <!-- <div class="form-group mb-3">
                  <label for="modulos">Módulos</label>
                  <input type="number" class="form-control" [(ngModel)]="curso.modulos" name="modulos" />
                </div> -->
              </div>
              <!-- /.card-body -->

              <!-- Footer -->
              <div class="card-footer">
                <button type="button" class="btn btn-danger" [routerLink]="['/admin/cursos']">Cancelar</button>
                <button type="submit" class="btn btn-success" [disabled]="form.invalid || isLoading">
                  <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span> Editar
                </button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
