.badge {
  font-size: 0.875rem; /* Um pouco menor que 1rem */
  padding: 0.3em 0.5em; /* Ajuste o padding para algo mais compacto */
  line-height: 1.3; /* Um pouco menor para manter o alinhamento */
}


.badge-custom-danger {
  background-color: #dc3545; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branca */
}
