<!-- Botão para cadastrar novo professor -->
<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <button (click)="redirecionarCadastroProfessor()" type="button" class="btn btn-primary btn-flat btn-pri">
          <i class="fa fa-plus" aria-hidden="true"></i> Novo Professor
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Tabela de professores -->
<div class="app-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Professores</h3>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome do Professor</th>
              <th>E-mail</th>
              <th class="text-center">Status</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let professor of professores; let i = index">
              <td>{{ (paginaAtual * tamanhoPagina) + i + 1 }}</td>
              <td>{{ professor.nome }}</td>
              <td>{{ professor.email }}</td>
              <td class="project-state text-center">
                <span class="badge"
                      [ngClass]="{
                        'badge-success': professor.statusUsuario,
                        'badge-danger': !professor.statusUsuario,
                        'text-black': !professor.statusUsuario
                      }">
                  {{ professor.statusUsuario ? 'Ativo' : 'Inativo' }}
                </span>
              </td>
              <td class="project-actions text-right">
                <button class="btn btn-info btn-sm" (click)="editarProfessor(professor)">
                  <i class="fas fa-pencil-alt"></i> Editar
                </button>
                <button class="btn btn-danger btn-sm" (click)="excluirProfessor(professor.cpfOuCnpj)">
                  <i class="fas fa-trash"></i> Excluir
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Paginação -->
    <div class="pagination" style="display: flex; justify-content: center; margin-top: 20px;">
      <button *ngFor="let page of [].constructor(totalPaginas); let i = index"
              class="btn btn-light"
              [class.active]="paginaAtual === i"
              (click)="mudarPagina(i)">
        {{ i + 1 }}
      </button>
    </div>
  </div>
</div>
