<mat-toolbar>
    <div class="im">
        <img src="ead.jpg" alt="Imagem de navegação" width="80px" height="80px">
    </div>
    
    <a mat-button href="/home">Pagina Inicial</a>
    <a mat-button href="/painel" >Painel</a>
    <a mat-button href="/cursos" >Meus cursos</a>
    

    <div class="spacer"></div>
    <a mat-button href="/user-create" >Cadastro</a>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>

</mat-toolbar>
  