<mat-toolbar>
    <div class="im">
        <img src="//ead.blocomais.com.br/pluginfile.php/1/theme_moove/logo/1733968623/BLOCO%20%2B%202.png" alt="Imagem de navegação" width="220px" height="50px">
    </div>
    
    <a mat-button routerLink="home" >Pagina Inicial</a>
    <a mat-button routerLink="painel" >Painel</a>
    <a mat-button routerLink="cursos" >Meus cursos</a>

    <div class="spacer"></div>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>

</mat-toolbar>
  