<!--begin::App Main-->
<div class="app-content-header"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <button (click)="redirecionarCadastroAula()" type="button" class="btn btn-primary btn-flat btn-pri"><i class="fa fa-plus" aria-hidden="true"></i> Nova Aula</button>
      </div>

    </div> <!--end::Row-->
  </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content"> <!--begin::Container-->
  <div class="container-fluid"> <!--begin::Row-->

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Aulas</h3>

      </div>
      <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 30%">
                       Descrição da Aula
                    </th>
                    <th style="width: 30%">
                        Duração
                    </th>
                    <th>
                        Modulos
                    </th>
                    <th style="width: 22%">
                      Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a>
                            AdminLTE v3
                        </a>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <p> 60 minutos</p>
                            </li>

                        </ul>
                    </td>
                    <td class="project_progress">
                        <small>
                            5
                        </small>
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="#">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" href="#">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="#">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>
                            AdminLTE v3
                        </a>

                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                              <p> 80 minutos</p>
                            </li>
                        </ul>
                    </td>
                    <td class="project_progress">
                      <small>
                          4
                      </small>
                  </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="#">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" href="#">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="#">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a>
                            AdminLTE v3
                        </a>

                    </td>
                    <td>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                              <p> 120 minutosa</p>
                            </li>

                        </ul>
                    </td>
                    <td class="project_progress">
                      <small>
                          4
                      </small>
                  </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-primary btn-sm" href="#">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                        <a class="btn btn-info btn-sm" href="#">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="#">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>

  </div> <!--end::App Content-->
